@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font-smaller: 1rem;
$font-small: 1.5rem;
$font-medium: 2rem;
$font-big: 3rem;

* {
  font-family: "Roboto", "Montserrat", sans-serif;
}

// base components

.color-helper {
  height: $font-small;
  width: $font-small;

  svg {
    transform: scale(0.8);
  }
}

.snovy-input,
.snovy-combo-box-inner,
.snovy-button,
.snovy-input-color .color-helper {
  font-size: $font-medium;
}

.svg-button:not(.snovy-fancy-item-button) {
  height: $font-big;
  width: $font-big;
}

.snovy-button-circular:not(.snovy-fancy-item-button) {
  height: $font-medium;
  width: $font-medium;
}

// specifics

.snovy-editor {
  font-size: $font-small;
}

.snovy-list-item {
  font-size: $font-medium;
}

.snovy-context-menu {
  font-size: $font-small;
  line-height: $font-big;
}

.snovy-fancy-item {
  --font-size: #{$font-small};
  font-size: $font-small;
}

.snovy-tag-item {
  --font-size: #{$font-medium};
  font-size: $font-medium;
}

.snovy-multiselect-item {
  font-size: $font-smaller;
}

.snovy-dropdown {
  .snovy-dropdown-item {
    font-size: $font-medium;
    //line-height: $font-small;
  }

  .snovy-dropdown-no-match,
  .info-dropdown-item {
    font-size: $font-small;
  }
}

.snovy-form {
  .snovy-input,
  .snovy-button {
    font-size: $font-small;
  }

  .snovy-button:not(.snovy-button-circular) {
    font-size: $font-medium;
  }

  .snovy-dropdown-item {
    font-size: $font-smaller;
  }

  .snovy-form-item {
    .snovy-button {
      height: calc(#{$font-small} * 1.2);
      width: calc(#{$font-small} * 1.2);
    }
  }
}

.snovy-color-list-item {
  .color-helper {
    margin: calc((#{$font-medium} - #{$font-small}) / 2);
  }
}

.snovy-tag-list-item {
  .category-detail {
    font-size: $font-small;
  }

  .tag-detail {
    font-size: $font-medium;
  }
}

.snovy-tab-menu-item {
  font-size: 1vw;
}

.snovy-note-item {
  .section-detail {
    font-size: $font-small;
  }
}

#control-buttons {
  .snovy-button {
    font-size: $font-small;
  }
}