@import "../mixins";

.snovy-button {
  --border-rad: #{$rad-rounded};

  border: unset;
  padding: 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: transparent;
  border-radius: var(--border-rad);

  &.snovy-button-circular {
    --border-rad: 50%;

    padding: unset;
    margin: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;
  }

  &.svg-button {
    padding: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.snovy-radio {
  margin: 0.5em;
  transform: scale(1.5);
}

.snovy-radio-group {
  width: 100%;
  padding: 0.25em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: $rad-rounded;

  & > *:not(:last-child)::after {
    content: "/";
  }

}