@import "../mixins";

.snovy-filter {
  border-radius: $rad-rounded;
  border-width: 2px !important;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  padding: 0.2em;
  width: 100%;

  & > .snovy-multiselect {
    //margin: -1px !important;
    //border-radius: unset !important;
  }

  & > .snovy-button {
    align-self: center;
    margin-inline: 0.2em;
  }
}

.snovy-filter-group {
  width: 100%;
  padding: 1em 0.5em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5em;

  & > .snovy-button {
    width: 0.8em !important;
    height: 0.8em !important;
  }

}

.snovy-filter-unit {
  border-radius: $rad-rounded;
  display: flex;
  padding: 0.2em;
}