@import "../mixins";

.snovy-tab-menu {
  width: 100%;
  height: 100%;
  display: flex;
  //flex-direction: column; set in js
  flex-wrap: nowrap;
  justify-content: space-between;

  &:is(.top, .bottom) {
    flex-direction: row;

    .snovy-tab-menu-item {
      padding: 0.4em 0.6em;
    }
  }

  &:is(.left, .right) {
    flex-direction: column;

    .snovy-tab-menu-item {
      padding: 0.6em 0.2em;
    }
  }

  .snovy-tab-menu-section {
    display: flex;
    flex-flow: inherit;
    align-items: stretch;
    overflow: hidden;

    &.start {
      justify-content: flex-start;
    }

    &.end {
      justify-content: flex-end;
    }
  }
}

.snovy-tab-menu-item {
  --border-rad: 0;

  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  cursor: default;
  user-select: none;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  &.icon {
    display: flex;
    place-content: center;
  }

  svg {
    transform: scale(0.9);
  }
}